SOLESSSNOWCatalog_1_0_0_7/Workflows/ESSEXAMPLEServiceNowOrderItem-F2F7FC20-6DF0-F011-8406-7C1E52FD22A7.json
{
  "properties": {
    "connectionReferences": {
      "shared_service-now-2": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "pve_sharedservicenow_597ef"
        },
        "api": {
          "name": "shared_service-now"
        }
      },
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pve_sharedcommondataserviceforapps_5893b"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "8dff676a-e6ef-4c31-96b8-43a0368d3553"
          },
          "type": "Request",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "{\"acrobat\":\"True\",\"action\":\"order_item\",\"actionSubmitId\":\"Order Now\",\"Additional_software_requirements\":\"test\",\"eclipse_ide\":\"1\",\"item_id\":\"774906834fbb4200086eeed18110c737\",\"photoshop\":\"True\",\"quantity\":\"2\"}",
                  "title": "SNOWItemDetails",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "admin@D365DemoTSCE54115347.onmicrosoft.com",
                  "title": "UserName",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_catalog_item": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d88df1fa-047d-45ac-a0a7-34aabd73da16"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "sys_id": "@json(triggerBody()?['text'])['sys_id']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_service-now",
              "operationId": "GetCatalogItem",
              "connectionName": "shared_service-now-2"
            }
          }
        },
        "Compare_the_needed_input": {
          "runAfter": {
            "Get_catalog_item": [
              "Succeeded"
            ]
          },
          "metadata": {
            "flowSystemMetadata": {
              "portalOperationId": "aibuilderpredict_customprompt",
              "portalOperationGroup": "aibuilder",
              "portalOperationApiDisplayNameOverride": "AI Builder",
              "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
              "portalOperationBrandColorOverride": "#0A76C4",
              "portalOperationApiTierOverride": "Standard"
            },
            "operationMetadataId": "0486a129-cfba-4de8-80ee-61d3935518f2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "recordId": "c60cf315-fd43-4eea-a15b-2df8f24a95cc",
              "item/requestv2/variables": "@outputs('Get_catalog_item')?['body/result/variables']",
              "item/requestv2/text": "@triggerBody()?['text']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "aibuilderpredict_customprompt",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        },
        "Respond_to_the_agent": {
          "runAfter": {
            "Order_item": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c492e747-99ab-45ca-9a85-b0ec813ee893"
          },
          "type": "Response",
          "kind": "Skills",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "snowordernumber": {
                  "title": "SNOWOrderNumber",
                  "x-ms-dynamically-added": true,
                  "type": "string",
                  "description": "Provides the number of created ServiceNow order request."
                },
                "snowordersysid": {
                  "title": "SNOWOrderSysID",
                  "description": "Provides the sys_id of ServiceNow order request.",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "snowordernumber": "@{outputs('Order_item')?['body/result/request_number']}",
              "snowordersysid": "@{outputs('Order_item')?['body/result/sys_id']}"
            }
          }
        },
        "Order_item": {
          "runAfter": {
            "Compare_the_needed_input": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "921ba0ee-cf09-4e01-b35b-380517a21326"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "sys_id": "@json(triggerBody()?['text'])['sys_id']",
              "body/sysparm_quantity": "@json(triggerBody()?['text'])['quantity']",
              "body/sysparm_requested_for": "@triggerBody()?['text_1']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_service-now",
              "operationId": "OrderItem",
              "connectionName": "shared_service-now-2"
            }
          }
        },
        "Compose": {
          "runAfter": {},
          "type": "Compose",
          "inputs": "@json(triggerBody()?['text'])['sys_id']"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}